<div class="container">
  <div class="input-group  col-md-7 col-md-offset-2">
    <span class="input-group-addon">id</span>
    <input type="text" class="form-control" ng-model="goods.id">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">name</span>
    <input type="text" class="form-control" ng-model="goods.name">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">unit</span>
    <input type="text" class="form-control" ng-model="goods.unit">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">price</span>
    <input type="text" class="form-control" ng-model="goods.price">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">catagary</span>
    <input type="text" class="form-control" ng-model="goods.catagary">
  </div>
  <div class="input-group col-md-7 col-md-offset-2  text-right">
    <a ng-href="#/listManage" ng-click="edit(goods)">提交修改</a>
  </div>
</div>
