<div id="goodsList" class="container">
  <div class="input-group  col-md-7 col-md-offset-2">
    <span class="input-group-addon">id</span>
    <input type="text" class="form-control" value="{{item.id}}">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">name</span>
    <input type="text" class="form-control" value="{{item.name}}">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">unit</span>
    <input type="text" class="form-control" value="{{item.unit}}">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">price</span>
    <input type="text" class="form-control" value="{{item.price}}">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">catagary</span>
    <input type="text" class="form-control" value="{{item.catagary}}">
  </div>
  <div class="input-group col-md-7 col-md-offset-2  text-right">
    <button type="button" class="btn btn-primary" ng-click="editItem(editedItem)">提交修改</button>
  </div>
</div>
