<div id="goodsList" class="container">
  <div class="panel panel-default">
    <div class="panel-heading">商品管理</div>

    <div class="panel-body">
      <div class="panel panel-default " ng-repeat="goods in goodsList">
        <div class="panel-heading animate-show" ng-show="goods.show">
          <div class="row">
            <div class="col-md-1 col-md-offset-2">{{goods.id}}</div>
            <div class="col-md-1">{{goods.name}}</div>
            <div class="col-md-1">{{goods.unit}}</div>
            <div class="col-md-1">{{goods.price}}</div>
            <div class="col-md-1">{{goods.catagary}}</div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default" ng-click="removeItem($index)">删除</button>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-default" ng-click="showEdit(goods)">修改</button>
            </div>
          </div>
        </div>

        <div class="panel-body animate-show row" ng-model="item" ng-hide="goods.show">
          <div class="input-group  col-md-7 col-md-offset-2">
            <span class="input-group-addon">id</span>
            <input type="text" class="form-control" value="{{item.id}}">
          </div>
          <div class="input-group col-md-7 col-md-offset-2">
            <span class="input-group-addon">name</span>
            <input type="text" class="form-control" value="{{item.name}}">
          </div>
          <div class="input-group col-md-7 col-md-offset-2">
            <span class="input-group-addon">unit</span>
            <input type="text" class="form-control" value="{{item.unit}}">
          </div>
          <div class="input-group col-md-7 col-md-offset-2">
            <span class="input-group-addon">price</span>
            <input type="text" class="form-control" value="{{item.price}}">
          </div>
          <div class="input-group col-md-7 col-md-offset-2">
            <span class="input-group-addon">catagary</span>
            <input type="text" class="form-control" value="{{item.catagary}}">
          </div>
          <div class="input-group col-md-7 col-md-offset-2  text-right">
            <button type="button" class="btn btn-primary" ng-click="editItem(item)">提交修改</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
