<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">< LET US GO 商店>购物账单</div>
    <div class="panel-body">
      <table class="table">
        <tbody class="table-body">
        <tr>
          <th>&nbsp;</th>
          <th>名称：</th>
          <th>数量</th>
          <th>单价</th>
          <th>小计</th>
        </tr>
        <tr ng-repeat="item in customGoodsList">
          <th>&nbsp;</th>
          <td>{{item.goods.name}}</td>
          <td>{{item.number + item.goods.unit}}</td>
          <td>{{item.goods.price + '/' + item.goods.unit}}</td>
          <td>{{item.number * item.goods.price}}元</td>
        </tr>
        </tbody>
      </table>
      <p class="text-right">
        总计：{{total}}(元)<a class="btn btn-primary btn-lg" role="button" ng-href="#">立即付款</a>
      </p>
    </div>
  </div>
</div>
