<div class="container">
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
        <!--<div class="container-fluid">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" href="index.html" target="frame">LET US GO SHOP</a>-->
            <!--</div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li><a href="goodsList.html" target="frame">LIST</a></li>-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li>-->
                        <!--<a href="cart.html"><span class="glyphicon glyphicon-shopping-cart ">购物车(<span id="cartGoodsNumber">1</span>)</span></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--</nav>-->
    <!--<iframe name="frame" src="welcome.html"></iframe>-->
    <div class="jumbotron">
        <h3>WELCOME TO </h3>
        <h1>let us go </h1>
        <p>店铺介绍........这是一个商店，我是一个bing......
            ......................end
        </p>
        <p class="text-right"><a class="btn btn-primary btn-lg" role="button" href="goodsList.html">进入店铺</a></p>
    </div>
</div>
